<section id="header">
    <nav class="navbar navbar-expand-md navbar-light navbar-custom" id="navbar_sticky">
        <div class="container-xl">
<<<<<<< HEAD
            <a class="navbar-brand p-0 fw-bold text-uppercase" href="/dashboard">
=======
            <a class="navbar-brand p-0 fw-bold text-uppercase" href="/index">
>>>>>>> fd19789a6af9dfff622dee21a2593e52e89d5999
                <i class="fas fa-graduation-cap symbol"></i> RIZ<span class="symbol">ZARDS</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-0 ms-auto">
                    <li class="nav-item">
<<<<<<< HEAD
                        <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" aria-current="page" href="/dashboard">Home</a>
=======
                        <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" aria-current="page" href="/index">Home</a>
>>>>>>> fd19789a6af9dfff622dee21a2593e52e89d5999
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'about' ? 'active' : '' %>" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'course' ? 'active' : '' %>" aria-current="page" href="/course">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'blog' ? 'active' : '' %>" aria-current="page" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'event' ? 'active' : '' %>" aria-current="page" href="/event">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'review' ? 'active' : '' %>" aria-current="page" href="/review">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'contact' ? 'active' : '' %>" aria-current="page" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'faq' ? 'active' : '' %>" aria-current="page" href="/faq">Faq</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> fd19789a6af9dfff622dee21a2593e52e89d5999
